.infoCard {
  padding: 1rem;
  border: 1px solid var(--primary);
  border-radius: 10px;
  width: 500px;
}

.imageContainer {
  justify-self: center;
}

.infoCard h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.infoCard p {
  font-size: 1.1rem;
}
