/* NewsList.module.css */
.container {
  margin: auto;
  padding: 2rem 1rem;
}

.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 375px) {
  .grid {
    flex-wrap: wrap;
  }
}
