/* NewsList.module.css */
.container {
  margin: auto;
  padding: 2rem 1rem;
}

.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* Estilos base para móviles pequeños */
@media (max-width: 375px) {
  .grid {
    flex-wrap: wrap;
  }
}

/* Estilos para móviles medianos */
@media (min-width: 376px) and (max-width: 767px) {
  .grid {
    flex-wrap: wrap;
  }
}

/* Estilos para tabletas en vertical */
@media (min-width: 768px) and (max-width: 1023px) {
  .grid {
    flex-wrap: wrap;
  }
}

/* Estilos para tabletas en horizontal y laptops pequeñas */
@media (min-width: 1024px) and (max-width: 1200px) {
  .grid {
    flex-wrap: wrap;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1201px) {
  .grid {
    flex-wrap: nowrap;
  }
}
