.noticeCard {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid var(--primary);
  padding: 20px;
  border-radius: 10px;
  font-size: 1.1rem;
}

.noticeCard h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.noticeCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.noticeCard button {
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--primary);
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 500;
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.noticeCard button:hover {
  background: var(--hover);
  color: var(--secondary);
}

.icon {
  color: var(--secondary);
}
