.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}

.heroImg {
  background-image: url("/src/assets/images/activities/charla-cftpucv/cftpucv7.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0 0 10px 10px;
  height: 400px;
  width: 100%;
  filter: brightness(50%);
}
.heroText {
  position: absolute;
  color: var(--secondary);
  padding-inline: 5rem;
}

.title {
  font-size: 5rem;
  font-weight: bold;
}

.description {
  font-size: 1.5rem;
  font-weight: 500;
}
