.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  text-align: center;
}

.heroImg {
  background-image: url("/hero.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0 0 10px 10px;
  height: 600px;
  width: 100%;
  filter: brightness(60%);
}
.heroText {
  position: absolute;
  color: var(--secondary);
  padding-inline: 5rem;
}

.title {
  font-size: 4rem;
  font-weight: bold;
}

.description {
  font-size: 2.5rem;
  font-weight: 500;
}

.hero button {
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 20px;
}

.hero button:hover {
  background-color: var(--hover);
  color: var(--secondary);
}
