/* Estilos base para móviles pequeños (Mobile First) */
.personCard {
  background-color: var(--secondary);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 100%; /* Ajustado para ocupar el 100% del contenedor en móviles */
  max-width: 300px; /* Mantenemos el máximo */
  height: auto; /* Ajustamos la altura para que sea automática */
  margin: 0 auto; /* Centramos en dispositivos pequeños */
}

.personCard img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.text {
  height: auto; /* Ajustamos la altura */
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%; /* Ajustado para ocupar el 100% del contenedor en móviles */
  height: auto; /* Ajustamos la altura */
  border-radius: 0 0 10px 10px;
}

.personCard button {
  background: var(--secondary);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.personCard button:hover {
  background: var(--primary);
  color: var(--secondary);
}

.name {
  font-weight: bold;
  font-size: 1.25rem;
}

.profession {
  font-size: 1rem;
  font-weight: bolder;
  width: 100%; /* Ajustado para ocupar el 100% del contenedor */
  color: gray;
  margin-bottom: 1rem;
}

/* Estilos para la modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px; /* Añadimos padding para evitar que la modal toque los bordes en móviles */
}

.modalContent {
  display: flex;
  flex-direction: column; /* Cambiamos a columna para móviles */
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%; /* Ajustado para ocupar el 100% del contenedor en móviles */
  max-width: 1000px; /* Mantenemos el máximo */
  position: relative;
}

.modalContent img {
  display: none;
  /* height: 250px;
    object-fit: cover;
    width: 100%;
    max-width: 400px;
    */
}

.modalResume {
  width: 100%; /* Ajustado para ocupar el 100% del contenedor en móviles */
  padding: 20px;
  color: #333;
}

.modalResume h2 {
  font-size: 1.5rem; /* Reducimos el tamaño para móviles */
  color: var(--primary-dark);
}

.modalResume span {
  display: block;
  font-size: 1rem; /* Reducimos el tamaño para móviles */
  color: var(--primary);
  font-weight: 500;
  margin-bottom: 20px;
}

.qualificationsTitle {
  font-size: 1.2rem; /* Reducimos el tamaño para móviles */
  color: var(--primary-dark);
  border-bottom: 2px solid var(--secondary);
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.qualificationItem {
  font-family: var(--secondary-font);
  font-size: 1rem; /* Reducimos el tamaño para móviles */
  margin: 0.8rem 0;
  padding-left: 1.5rem;
  position: relative;
}

.qualificationItem::before {
  content: "▹";
  color: var(--secondary);
  position: absolute;
  left: 0;
  font-weight: bold;
}

.qualificationsList {
  overflow-y: scroll;
  max-height: 250px;
}

.closeButton {
  margin-top: 2.5rem;
  padding: 12px 25px;
  font-size: 1rem; /* Reducimos el tamaño para móviles */
  width: 100%; /* Ajustado para ocupar el 100% del contenedor en móviles */
}

/* Estilos para tablets */
@media (min-width: 768px) {
  .personCard {
    max-width: 400px; /* Aumentamos el máximo para tablets */
  }

  .modalContent {
    flex-direction: row; /* Volvemos a la disposición en fila */
  }

  .modalContent img {
    display: block; /* Mostramos la imagen */
    width: 50%; /* Ajustamos el ancho */
    max-width: 400px; /* Mantenemos el máximo */
  }

  .modalResume {
    width: 60%; /* Ajustamos el ancho */
  }

  .modalResume h2 {
    font-size: 2rem; /* Aumentamos el tamaño para tablets */
  }

  .modalResume span {
    font-size: 1.2rem; /* Aumentamos el tamaño para tablets */
  }

  .qualificationsTitle {
    font-size: 1.4rem; /* Aumentamos el tamaño para tablets */
  }

  .qualificationItem {
    font-size: 1.1rem; /* Aumentamos el tamaño para tablets */
  }

  .closeButton {
    font-size: 1.1rem; /* Aumentamos el tamaño para tablets */
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
  .personCard {
    max-width: 300px; /* Volvemos al máximo original para pantallas grandes */
  }

  .modalContent {
    width: 90%; /* Ajustamos para que no ocupe el 100% de la pantalla */
  }

  .modalResume h2 {
    font-size: 2.4rem; /* Restauramos el tamaño original */
  }

  .modalResume span {
    font-size: 1.3rem; /* Restauramos el tamaño original */
  }

  .qualificationsTitle {
    font-size: 1.6rem; /* Restauramos el tamaño original */
  }

  .qualificationItem {
    font-size: 1.1rem; /* Mantenemos el tamaño ajustado */
  }

  .closeButton {
    font-size: 1.1rem; /* Mantenemos el tamaño ajustado */
  }
}
