.about {
  padding-inline: 1rem;
}

/* Hero section */
.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

.heroImg {
  display: flex;
  position: relative;
  background-image: url("/images/activities/varias/varias2.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0 0 10px 10px;
  height: 600px;
  width: 100%;
  filter: brightness(50%);
}

.heroTitle {
  font-size: 5rem;
  font-weight: bold;
  padding-inline: 5rem;
  position: absolute;
  color: var(--secondary);
}

/* History section */
.historyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.historySubtitle {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 20px;
  color: var(--primary-dark);
  text-align: center;
}

.sectionTitle {
  font-family: var(--main-font);
  font-size: 2rem;
  color: var(--primary);
  font-weight: 500;
  margin: 2rem 0 1rem;
  width: 100%;
  max-width: 1000px;
}

.sectionText {
  font-family: var(--secondary-font);
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
  max-width: 1000px;
  margin: 0 auto 2rem;
  /* text-align: justify; */
}

.sectionList {
  max-width: 1000px;
  margin: 1rem auto 2rem;
  padding-left: 2rem;
}

.listItem {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  /* line-height: 1.5; */
  color: #555;
}

.historyText {
  margin-top: 10px;
  font-size: 1.4rem;
  width: 1400px;
}

/* Person card section */
.PersonContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personTitle {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.personCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

strong {
  font-weight: 700;
}
