.description {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--primary);
  margin-top: 20px;
  border-radius: 10px;
  height: 400px;
}

.bold {
  font-weight: bold;
}

.description h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.description p {
  font-family: var(--secondary-font);
  font-size: 1.125rem;
  width: 750px;
}

.right {
  overflow: hidden;
  display: flex;
}

.right img {
  border-radius: 0 10px 10px 0;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
}

.left {
  padding: 20px;
  color: var(--secondary);
  height: 100%;
}

/* Estilos base para móviles pequeños */
@media (max-width: 375px) {
  .description {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .description h2 {
    font-size: 1.5rem;
  }

  .description p {
    width: 100%;
    font-size: 0.8rem;
  }

  .right img {
    border-radius: 0 0 10px 10px;
    width: 100%;
    max-height: none;
  }

  .right {
    height: auto;
  }

  .left {
    padding: 10px;
  }
}

/* Estilos para móviles medianos */
@media (min-width: 376px) and (max-width: 767px) {
  .description {
    height: auto;
    grid-template-columns: 1fr;
  }

  .description h2 {
    font-size: 1.7rem;
  }

  .description p {
    width: 100%;
    font-size: 1rem;
  }

  .right {
    height: auto;
    margin-top: 20px;
  }

  .right img {
    border-radius: 0 0 10px 10px;
  }
}

/* Estilos para tabletas en vertical */
@media (min-width: 768px) and (max-width: 1023px) {
  .description {
    grid-template-columns: 1fr 1fr;
    height: auto;
  }

  .description h2 {
    font-size: 1.8rem;
  }

  .description p {
    width: 100%;
    font-size: 1.05rem;
  }

  .right {
    height: 100%;
  }
}

/* Estilos para tabletas en horizontal y laptops pequeñas */
@media (min-width: 1024px) and (max-width: 1200px) {
  .description h2 {
    font-size: 1.9rem;
  }

  .description p {
    width: 100%;
    font-size: 1.1rem;
  }

  .right {
    height: 100%;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1201px) {
  .description {
    grid-template-columns: repeat(2, 1fr);
    height: 400px;
  }

  .description h2 {
    font-size: 2rem;
  }

  .description p {
    width: 750px;
    font-size: 1.125rem;
  }

  .right {
    height: 100%;
  }
}
