/* Estilos base para móviles (Mobile First) */
.description {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  margin-top: 20px;
  border-radius: 10px;
  height: auto;
}

.bold {
  font-weight: bold;
}

.description h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.description p {
  font-family: var(--secondary-font);
  font-size: 0.8rem;
  width: 100%;
}

.right {
  overflow: hidden;
  display: flex;
}

.right img {
  border-radius: 0 0 10px 10px;
  width: 100%;
  max-height: none;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
}

.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: var(--secondary);
  height: 100%;
}

/* Media query para móviles medianos (a partir de 376px) */
@media (min-width: 376px) {
  .description h2 {
    font-size: 1.5rem;
  }

  .description p {
    font-size: 0.8rem;
  }

  .left {
    padding: 20px;
  }
}

/* Media query para tabletas (a partir de 768px) */
@media (min-width: 768px) {
  .description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }

  .description h2 {
    font-size: 2rem;
  }

  .description p {
    font-size: 1rem;
  }

  .right img {
    border-radius: 0 10px 10px 0;
  }

  .right {
    height: 100%;
    margin-top: 0;
  }
}

/* Media query para laptops pequeñas y tabletas en horizontal (a partir de 1024px) */
@media (min-width: 1024px) {
  .description h2 {
    font-size: 1.9rem;
  }

  .description p {
    font-size: 1.1rem;
  }
}

/* Media query para pantallas grandes (a partir de 1201px) */
@media (min-width: 1201px) {
  .description {
    height: 400px;
  }

  .description h2 {
    font-size: 2rem;
  }

  .description p {
    width: 750px;
    font-size: 1.125rem;
  }
}
