.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 140px;
  height: 90px;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: var(--secondary);
}

.active {
  color: var(--primary);
}

.navbarHidden {
  top: -100px;
}

header nav ul {
  display: flex;
  gap: 10px;
}

header nav li:hover {
  color: var(--primary);
}

header .navBtn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  display: none;
  font-size: 1.8rem;
}

@media only screen and (max-width: 375px) {
  header .navBtn {
    display: block;
  }

  header nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 80px;
    padding-left: 2rem;
  }

  header .responsiveNav {
    transform: translateX(100vh);
  }

  nav .navCloseBtn {
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  nav li {
    font-size: 1.2rem;
    border: 1px solid var(--primary);
  }
}
