/* Estilos base (móviles pequeños) */
.footer {
  font-family: var(--secondary-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/backgrounds/dalmatian-spots.svg");
  background-size: cover;
  background-clip: padding-box;
  font-size: 1.125rem;
  color: var(--tertiary);
  background-color: var(--secondary);
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  border-radius: 20px;
  height: 150px;
  margin-top: 10px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.socialItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sectionTitle,
.socialTitle,
.addressTitle {
  font-weight: bold;
  font-size: 1.563rem;
}

.interactiveList,
.contactList,
.socialList,
.addressList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: fit-content;
}

.addressList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.interactiveList,
.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.interactiveList li,
.contactList li {
  cursor: pointer;
  /* font-size: 0.8rem; */
  transition: color 0.3s ease;
}

.interactiveList li:hover,
.contactList li:hover {
  color: #070505;
  font-weight: 400;
}

.contactIcon,
.socialIcon,
.addressIcon {
  font-size: 1.563rem;
  color: var(--tertiary);
}

.socialIcon {
  font-size: 1.563rem;
}

.socialIcon:hover {
  color: #070505;
}

.socialList {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socialItem,
.contactItems,
.addressContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.mapButton {
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.socialList {
  width: 100%;
}

/* Móviles medianos (376px en adelante) */
@media (min-width: 376px) {
  /* .footer {
    font-size: 0.9rem;
    padding-inline: 30px;
  }

  .interactiveList li,
  .contactList li {
    font-size: 0.9rem;
  }

  .contactIcon,
  .socialIcon,
  .addressIcon {
    font-size: 18px;
  }

  .socialIcon {
    font-size: 28px;
  } */
}

/* Tabletas (768px en adelante) */
@media (min-width: 768px) {
  .footer {
    /* font-size: 1rem; */
    padding-inline: 40px;
  }

  /* .sectionTitle,
  .socialTitle,
  .addressTitle {
    font-size: 1.1rem;
  } */

  /* .interactiveList li,
  .contactList li {
    font-size: 1rem;
  } */

  /* .contactIcon,
  .socialIcon,
  .addressIcon {
    font-size: 20px;
  }

  .socialIcon {
    font-size: 30px;
  }*/
}

/* Laptops pequeñas (1024px en adelante) */
@media (min-width: 1024px) {
  .footer {
    border: 1px solid var(--tertiary);
    padding: 20px 0;
    flex-direction: row;
    justify-content: center;
  }

  .logo {
    margin-inline: 10px;
    height: 150px;
    border-radius: 20px;
  }

  .bottom {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    max-width: 1750px;
  }

  .sections {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    width: 100%;
  }

  .sectionContainer {
    margin-bottom: 0;
    height: 100%;
  }

  .interactiveList,
  .contactList,
  .addressList,
  .socialList {
    align-items: flex-start;
    height: 100%;
  }

  .socialList {
    justify-content: left;
  }
}

/* Pantallas grandes (1201px en adelante) */
@media (min-width: 1201px) {
  .logo {
    height: 200px;
  }

  /* .sectionTitle,
  .socialTitle,
  .addressTitle {
    font-size: 1.3rem;
  } */
}
