.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  border: 1px solid var(--primary);
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  height: 250px;
  margin-top: 20px;
}

.title {
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: bold;
}

.description {
  font-family: var(--secondary-font);
  font-size: 1.1rem;
  margin-top: 10px;
}

.button {
  font-family: var(--secondary-font);
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.button:hover {
  background-color: var(--hover);
  color: var(--secondary);
}

.icon {
  color: var(--secondary);
  font-size: 20px;
}
