.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  border: 1px solid var(--primary);
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 100%;
  margin-top: 20px;
}

.title {
  font-family: var(--main-font);
  font-size: 1.563rem;
  font-weight: bold;
  text-align: left;
}

.description {
  font-family: var(--secondary-font);
  font-size: 1.125rem;
  margin-top: 10px;
}

.button {
  font-family: var(--secondary-font);
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1.125rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin-top: 20px;
}

.button:hover {
  background-color: var(--hover);
  color: var(--secondary);
}

.icon {
  color: var(--secondary);
  font-size: 20px;
}

.illustration {
  height: 400px;
}

/* Estilos base para móviles pequeños */
@media (max-width: 375px) {
  /* .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.8rem;
  } */

  .button {
    display: flex;
    justify-content: center;
    /* font-size: 0.8rem; */
    width: 100%;
  }
}

/* Estilos para móviles medianos */
@media (min-width: 376px) and (max-width: 767px) {
  /* .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.8rem;
  } */

  .button {
    display: flex;
    justify-content: center;
    /* font-size: 0.8rem; */
    width: 100%;
  }
}

/* Estilos para tabletas en vertical */
@media (min-width: 768px) and (max-width: 1023px) {
  .contact {
    flex-direction: row;
    align-items: center;
  }

  .contactInfo {
    margin-top: 0;
    margin-left: 20px;
  }

  /* .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  } */

  .button {
    display: flex;
    justify-content: center;
    /* font-size: 1rem; */
    width: 100%;
  }
}
