@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary: #1c5f9c;
  --secondary: #f9f9f9;
  --tertiary: #333333;
  --quaternary: #fafafa;
  --quinary: cornsilk;
  --hover: #184e80;

  --main-font: "Nunito", sans-serif;
}

:global(*) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:global(body) {
  font-family: var(--main-font);
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-top: 80px;
  background-image: url("/public/pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--quinary);
  background-position: center;
}

:global(main) {
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--secondary);
  color: var(--tertiary);
  padding-inline: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 600px) {
}

@media (min-width: 1024px) {
}
