@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #1c5f9c;
  --secondary: #f9f9f9;
  --tertiary: #333333;
  --quaternary: #fafafa;
  --quinary: #fff8dc;
  --hover: #184e80;

  --main-font: "Raleway", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

:global(*) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:global(body) {
  background-image: url("/backgrounds/pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--quinary);
  font-family: var(--main-font);
}

/* Estilos base para móviles (Mobile First) */
:global(main) {
  padding-top: 40px;
  max-width: 1750px;
  margin: 0 auto;
  background-color: var(--secondary);
  color: var(--tertiary);
  padding-inline: 0.5rem; /* Padding reducido para móviles */
  padding-bottom: 1rem;
}

/* Media query para tabletas (a partir de 768px) */
@media (min-width: 768px) {
  :global(main) {
    padding-inline: 1rem; /* Padding aumentado para tabletas */
  }
}

/* Media query para laptops y pantallas grandes (a partir de 1024px) */
@media (min-width: 1024px) {
  :global(main) {
    padding-inline: 2rem; /* Padding aumentado para laptops y pantallas grandes */
  }
}
