@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:global(*) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:global(body) {
  font-family: "Nunito", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-top: 80px;
  background-image: url("/public/pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: cornsilk;
  background-position: center;
}

:global(main) {
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  background-color: white;
  padding-inline: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 600px) {
}

@media (min-width: 1024px) {
}
