.infoCards {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.bold {
  font-weight: bold;
}

.noticeCards {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  margin-top: 20px;
}

.noticeCards h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
