.infoCards {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.bold {
  font-weight: bold;
}

.noticeCards {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  margin-top: 20px;
}

.noticeCards h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.cards {
  display: flex;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
}

/* Estilos base para móviles pequeños */
@media (max-width: 375px) {
  .contactContainer {
    flex-direction: column;
  }

  .infoCards {
    flex-wrap: wrap;
  }

  .noticeCards h2 {
    font-size: 1.5rem;
  }

  .cards {
    flex-direction: column;
  }

  .noticeCards {
    padding: 10px;
  }
}

/* Estilos para móviles medianos */
@media (min-width: 376px) and (max-width: 767px) {
  .contactContainer {
    flex-direction: column;
  }

  .infoCards {
    flex-wrap: wrap;
  }

  .cards {
    flex-direction: column;
  }

  .noticeCards h2 {
    font-size: 1.7rem;
  }

  .noticeCards {
    padding: 12px;
  }
}

/* Estilos para tabletas en vertical */
@media (min-width: 768px) and (max-width: 1023px) {
  .contactContainer {
    flex-direction: column;
  }

  .infoCards {
    flex-wrap: wrap;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .noticeCards h2 {
    font-size: 2rem;
  }

  .noticeCards {
    padding: 15px;
  }
}

/* Estilos para tabletas en horizontal y laptops pequeñas */
@media (min-width: 1024px) and (max-width: 1200px) {
  .contactContainer {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .infoCards {
    flex-wrap: wrap;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .noticeCards h2 {
    font-size: 1.9rem;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1201px) {
  .contactContainer {
    gap: 20px;
  }

  .infoCards {
    display: flex;
    flex-direction: row;
  }

  .cards {
    flex-direction: row;
  }

  .noticeCards h2 {
    font-size: 2rem;
  }
}
