.goals {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--primary);
}

.text {
  width: 50%;
  align-content: center;
}

.text h4 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary);
}

.text h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.text p {
  font-size: 1.1rem;
}

.text button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  border-radius: 10px;
}

.text button:hover {
  background-color: var(--hover);
  color: var(--secondary);
}

.images {
  display: flex;

  gap: 10px;
}

.rightImages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images img {
  object-fit: cover;
  border-radius: 10px;
}
