.goals {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--primary);
}

.text {
  width: 50%;
  align-content: center;
}

.text h4 {
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary);
}

.text h2 {
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.text p {
  font-family: var(--secondary-font);
  font-size: 1.1rem;
}

.text button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  border-radius: 10px;
}

.text button:hover {
  background-color: var(--hover);
  color: var(--secondary);
}

.images {
  display: flex;
  gap: 10px;
}

.rightImages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rightImages img {
  height: 200px;
}

.leftImage {
  height: 410px;
}

.images img {
  object-fit: cover;
  border-radius: 10px;
}

/* Estilos base para móviles pequeños */
@media (max-width: 375px) {
  .goals {
    flex-direction: column;
  }

  .images,
  .rightImages {
    width: 100%;
    flex-direction: column;
  }

  .leftImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .text {
    width: 100%;
  }

  .text h4 {
    font-size: 0.8rem;
  }

  .text h2 {
    font-size: 1.5rem;
  }

  .text p {
    font-size: 0.8rem;
  }

  .text button {
    width: 100%;
  }
}

/* Estilos para móviles medianos */
@media (min-width: 376px) and (max-width: 767px) {
  .goals {
    flex-direction: column;
  }

  .images,
  .rightImages {
    width: 100%;
    flex-direction: column;
  }

  .leftImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .text {
    width: 100%;
  }

  .text h4 {
    font-size: 0.9rem;
  }

  .text h2 {
    font-size: 1.7rem;
  }

  .text p {
    font-size: 0.9rem;
  }
}

/* Estilos para tabletas en vertical */
@media (min-width: 768px) and (max-width: 1023px) {
  .goals {
    flex-direction: column;
  }

  .images {
    flex-direction: row;
    justify-content: center;
  }

  .rightImages {
    flex-direction: column;
    width: 50%;
  }

  .leftImage {
    width: 50%;
    height: auto;
  }

  .text {
    width: 100%;
    padding-bottom: 20px;
  }

  .text h4 {
    font-size: 0.95rem;
  }

  .text h2 {
    font-size: 1.8rem;
  }

  .text p {
    font-size: 1rem;
  }
}

/* Estilos para tabletas en horizontal y laptops pequeñas */
@media (min-width: 1024px) and (max-width: 1200px) {
  .goals {
    flex-direction: row;
  }

  .images {
    flex-direction: row;
    width: 50%;
  }

  .rightImages {
    width: 100%;
  }

  .leftImage {
    width: 100%;
    height: auto;
  }

  .text {
    width: 50%;
    padding-right: 20px;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1201px) {
  .goals {
    flex-direction: row;
  }

  .images {
    flex-direction: row;
    width: 50%;
  }

  .rightImages {
    width: 100%;
  }

  .leftImage {
    width: 100%;
    height: 410px;
  }

  .text {
    width: 50%;
    padding-right: 20px;
  }
}
