/* Estilos base (móviles) */
.goals {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--primary);
}

.text {
  width: 100%;
}

.text h4 {
  font-family: var(--main-font);
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--primary);
}

.text h2 {
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.text p {
  font-family: var(--secondary-font);
  font-size: 0.8rem;
}

.text button {
  margin-top: 20px;
  padding: 10px 20px;
  width: 100%;
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  border-radius: 10px;
}

.text button:hover {
  background-color: var(--hover);
  color: var(--secondary);
}

.images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.rightImages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.leftImage {
  width: 100%;
  height: auto;
}

.images img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* Móviles medianos (376px en adelante) */
@media (min-width: 376px) {
  .text h4 {
    font-size: 0.8rem;
  }

  .text h2 {
    font-size: 1.5rem;
  }

  .text p {
    font-size: 0.8rem;
  }

  .text button {
    width: auto;
  }
}

/* Tabletas (768px en adelante) */
@media (min-width: 768px) {
  .text h4 {
    font-size: 1rem;
  }

  .text h2 {
    font-size: 2rem;
  }

  .text p {
    font-size: 1rem;
  }

  .images {
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-top: 20px;
  }

  .leftImages {
    display: flex;
    width: 50%;
    /* Ajusta este valor según necesites */
  }

  .rightImages {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .rightImage1,
  .rightImage2 {
    width: 100%;
    height: 300px; /* Ajusta este valor según necesites */
  }
}

/* Laptops pequeñas y tabletas horizontales (1024px en adelante) */
@media (min-width: 1024px) {
  .goals {
    flex-direction: row;
    align-items: center;
  }

  .text {
    width: 50%;
    padding-right: 20px;
  }

  .images {
    width: 50%;
    margin-top: 0;
  }

  .rightImages {
    width: 50%;
  }

  .leftImage {
    width: 100%;
  }

  .text h4 {
    font-size: 1rem;
  }

  .text h2 {
    font-size: 2rem;
  }

  .text p {
    font-size: 1.1rem;
  }
}

/* Pantallas grandes (1201px en adelante) */
@media (min-width: 1201px) {
  .rightImages img {
    height: 255px;
  }
}
